<?xml version="1.0" ?><robot>
	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->

	<!-- torso mount positions | relative to base_link -->
	<property name="offset_torso_x" value="0.0"/>
	<property name="offset_torso_y" value="0.0"/>
	<property name="offset_torso_z" value="0.0"/>
	<property name="offset_torso_roll" value="0.0"/>
	<property name="offset_torso_pitch" value="0.0"/>
	<property name="offset_torso_yaw" value="0.0"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="offset_arm_x" value="-0.03"/>
	<property name="offset_arm_y" value="0.0"/>
	<property name="offset_arm_z" value="-0.02"/>
	<property name="offset_arm_roll" value="0.0"/>
	<property name="offset_arm_pitch" value="0.0"/>
	<property name="offset_arm_yaw" value="-0.0523"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="offset_cam_ref_x" value="0.0"/>
	<property name="offset_cam_ref_y" value="0.0"/>
	<property name="offset_cam_ref_z" value="0.0"/>
	<property name="offset_cam_ref_roll" value="0.0"/>
	<property name="offset_cam_ref_pitch" value="0.0"/>
	<property name="offset_cam_ref_yaw" value="0.0"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="offset_cam_r_x" value="0.0"/>
	<property name="offset_cam_r_y" value="0.0"/>
	<property name="offset_cam_r_z" value="0.0"/>
	<property name="offset_cam_r_roll" value="0.0"/>
	<property name="offset_cam_r_pitch" value="0.0"/>
	<property name="offset_cam_r_yaw" value="0.0"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="offset_cam3d_x" value="0.0"/>
	<property name="offset_cam3d_y" value="0.0"/>
	<property name="offset_cam3d_z" value="0.0"/>
	<property name="offset_cam3d_roll" value="0.0"/>
	<property name="offset_cam3d_pitch" value="0.0"/>
	<property name="offset_cam3d_yaw" value="0.0"/>
</robot>
