<?xml version="1.0" ?><robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="laser_front_x" value="0.325"/>
	<property name="laser_front_y" value="0.0"/>
	<property name="laser_front_z" value="0.135"/>
	<property name="laser_front_roll" value="0"/>
	<property name="laser_front_pitch" value="0"/>
	<property name="laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="laser_rear_x" value="-0.325"/>
	<property name="laser_rear_y" value="0.0"/>
	<property name="laser_rear_z" value="0.135"/>
	<property name="laser_rear_roll" value="0"/>
	<property name="laser_rear_pitch" value="0"/>
	<property name="laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="laser_top_x" value="-0.252"/>
	<property name="laser_top_y" value="0.0"/>
	<property name="laser_top_z" value="0.42"/>
	<property name="laser_top_roll" value="0"/>
	<property name="laser_top_pitch" value="0"/>
	<property name="laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="tray_x" value="0.2406"/>
	<property name="tray_y" value="0.1900"/>
	<property name="tray_z" value="0.8020"/>
	<property name="tray_roll" value="2.3561"/>
	<property name="tray_pitch" value="0"/>
	<property name="tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.1534048682"/>
	<property name="torso_y" value="0.0054851676"/>
	<property name="torso_z" value="0.8655901417"/>
	<property name="torso_roll" value="1.5795302804"/>
	<property name="torso_pitch" value="-0.0723674795"/>
	<property name="torso_yaw" value="0.0650539656"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="-0.0141426644"/>
	<property name="arm_y" value="-0.0837680851"/>
	<property name="arm_z" value="0.8754037656"/>
	<property name="arm_roll" value="0.8051594615"/>
	<property name="arm_pitch" value="0.0024029536"/>
	<property name="arm_yaw" value="-0.2743665155"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now
	<property name="torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="torso_pan_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<property name="torso_lower_neck_tilt_ref" value="0.103514493"/>
	<property name="torso_pan_ref" value="-0.038156273"/>
	<property name="torso_upper_neck_tilt_ref" value="1.8794950"/>

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="tray_ref" value="-0.2"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="-0.1"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.0"/>
	<property name="arm_2_ref" value="0.0"/>
	<property name="arm_3_ref" value="0.0"/>
	<property name="arm_4_ref" value="0.0"/>
	<property name="arm_5_ref" value="0.0"/>
	<property name="arm_6_ref" value="0.0"/>
	<property name="arm_7_ref" value="0.0"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="-0.0223818713"/>
	<property name="cam_l_y" value="-0.0088542588"/>
	<property name="cam_l_z" value="-0.0740032897"/>
	<property name="cam_l_roll" value="0.431230617"/>
	<property name="cam_l_pitch" value="-1.5611029162"/>
	<property name="cam_l_yaw" value="-0.4824099877"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.120571314397"/>
	<property name="cam_r_y" value="0.000665835004067"/>
	<property name="cam_r_z" value="-0.000697560900641"/>
	<property name="cam_r_roll" value="0.00413022920749"/>
	<property name="cam_r_pitch" value="0.0081752146655"/>
	<property name="cam_r_yaw" value="0.0114621770079"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="-0.0417473189"/>
	<property name="cam3d_y" value="-0.0414892361"/>
	<property name="cam3d_z" value="0.0043153118"/>
	<property name="cam3d_roll" value="-0.3368726075"/>
	<property name="cam3d_pitch" value="-1.5560595745"/>
	<property name="cam3d_yaw" value="0.3333565456"/>
</robot>