<?xml version="1.0" ?><robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="laser_front_x" value="0.325"/>
	<property name="laser_front_y" value="0.0"/>
	<property name="laser_front_z" value="0.135"/>
	<property name="laser_front_roll" value="0"/>
	<property name="laser_front_pitch" value="0"/>
	<property name="laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="laser_rear_x" value="-0.325"/>
	<property name="laser_rear_y" value="0.0"/>
	<property name="laser_rear_z" value="0.135"/>
	<property name="laser_rear_roll" value="0"/>
	<property name="laser_rear_pitch" value="0"/>
	<property name="laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="laser_top_x" value="-0.252"/>
	<property name="laser_top_y" value="0.0"/>
	<property name="laser_top_z" value="0.42"/>
	<property name="laser_top_roll" value="0"/>
	<property name="laser_top_pitch" value="0"/>
	<property name="laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="tray_x" value="0.2406"/>
	<property name="tray_y" value="0.1900"/>
	<property name="tray_z" value="0.8020"/>
	<property name="tray_roll" value="2.3561"/>
	<property name="tray_pitch" value="0"/>
	<property name="tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.1507101092"/>
	<property name="torso_y" value="-0.1532127078"/>
	<property name="torso_z" value="0.8965806534"/>
	<property name="torso_roll" value="1.5661703532"/>
	<property name="torso_pitch" value="-0.1364653843"/>
	<property name="torso_yaw" value="0.0211853896"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="-0.0137526448"/>
	<property name="arm_y" value="-0.0858620615"/>
	<property name="arm_z" value="0.8730899274"/>
	<property name="arm_roll" value="0.8053241628"/>
	<property name="arm_pitch" value="0.008764674"/>
	<property name="arm_yaw" value="-0.2841430806"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now
	<property name="torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="torso_pan_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<property name="torso_lower_neck_tilt_ref" value="0.104114493"/>
	<property name="torso_pan_ref" value="0.039656273"/>
	<property name="torso_upper_neck_tilt_ref" value="1.8952950"/>

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="tray_ref" value="-0.2"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="-0.1"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.0"/>
	<property name="arm_2_ref" value="0.0"/>
	<property name="arm_3_ref" value="0.0"/>
	<property name="arm_4_ref" value="0.0"/>
	<property name="arm_5_ref" value="0.0"/>
	<property name="arm_6_ref" value="0.0"/>
	<property name="arm_7_ref" value="0.0"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="-0.0046347991"/>
	<property name="cam_l_y" value="-0.0698722875"/>
	<property name="cam_l_z" value="-0.2360901407"/>
	<property name="cam_l_roll" value="0.6254583135"/>
	<property name="cam_l_pitch" value="-1.5196809763"/>
	<property name="cam_l_yaw" value="-0.8146938173"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.120347347704"/>
	<property name="cam_r_y" value="0.00077891832177"/>
	<property name="cam_r_z" value="-0.00188976497631"/>
	<property name="cam_r_roll" value="0.00308753143935"/>
	<property name="cam_r_pitch" value="0.0124976821727"/>
	<property name="cam_r_yaw" value="0.0116886166619"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="-0.0278080049"/>
	<property name="cam3d_y" value="-0.1023114477"/>
	<property name="cam3d_z" value="-0.1589728498"/>
	<property name="cam3d_roll" value="0.512574156"/>
	<property name="cam3d_pitch" value="-1.5250630397"/>
	<property name="cam3d_yaw" value="-0.6569406141"/>
</robot>