<?xml version="1.0"?>
<robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="laser_front_x" value="0.325"/>
	<property name="laser_front_y" value="0.0"/>
	<property name="laser_front_z" value="0.135"/>
	<property name="laser_front_roll" value="0"/>
	<property name="laser_front_pitch" value="0"/>
	<property name="laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="laser_rear_x" value="-0.325"/>
	<property name="laser_rear_y" value="0.0"/>
	<property name="laser_rear_z" value="0.135"/>
	<property name="laser_rear_roll" value="0"/>
	<property name="laser_rear_pitch" value="0"/>
	<property name="laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="laser_top_x" value="-0.252"/>
	<property name="laser_top_y" value="0.0"/>
	<property name="laser_top_z" value="0.42"/>
	<property name="laser_top_roll" value="0"/>
	<property name="laser_top_pitch" value="0"/>
	<property name="laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="tray_x" value="0.2406"/>
	<property name="tray_y" value="0.1900"/>
	<property name="tray_z" value="0.7320"/>
	<property name="tray_roll" value="2.3561"/>
	<property name="tray_pitch" value="0"/>
	<property name="tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.155"/>
	<property name="torso_y" value="0.0"/>
	<property name="torso_z" value="0.892"/>
	<property name="torso_roll" value="3.1415926"/>
	<property name="torso_pitch" value="0.0"/>
	<property name="torso_yaw" value="0.0"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="-0.015982"/>
	<property name="arm_y" value="-0.080992"/>
	<property name="arm_z" value="0.875995"/>
	<property name="arm_roll" value="0.7854"/>
	<property name="arm_pitch" value="0.0"/>
	<property name="arm_yaw" value="-0.2618"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now
	<property name="torso_lower_neck_pan_cal_offset" value="0.0"/>
	<property name="torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_pan_cal_offset" value="0.0"/>
	<property name="torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<property name="torso_lower_neck_pan_ref" value="-0.5306" />
	<property name="torso_lower_neck_tilt_ref" value="0.0320" />
	<property name="torso_upper_neck_pan_ref" value="0.5481" />
	<property name="torso_upper_neck_tilt_ref" value="0.0229" />

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="tray_ref" value="0.0"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="-0.1"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<!-- not needed for lbr, use nonius scala -->

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="-0.12" />
	<property name="cam_l_y" value="0.01" />
	<property name="cam_l_z" value="0.02" />
	<property name="cam_l_roll" value="0.0" />
	<property name="cam_l_pitch" value="0.0" />
	<property name="cam_l_yaw" value="0.0" />

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="-0.00075932" />
	<property name="cam_r_y" value="-0.00006386" />
	<property name="cam_r_z" value="-0.00026527" />
	<property name="cam_r_roll" value="-0.00006" />
	<property name="cam_r_pitch" value="0.00546" />
	<property name="cam_r_yaw" value="0.00676" />

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="0.0" />
	<property name="cam3d_y" value="0.0" />
	<property name="cam3d_z" value="0.0" />
	<property name="cam3d_roll" value="0.0" />
	<property name="cam3d_pitch" value="0.0" />
	<property name="cam3d_yaw" value="0.0" />
</robot>
