<?xml version="1.0" ?><robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="def_laser_front_x" value="0.325"/>
	<property name="def_laser_front_y" value="0.0"/>
	<property name="def_laser_front_z" value="0.135"/>
	<property name="def_laser_front_roll" value="0"/>
	<property name="def_laser_front_pitch" value="0"/>
	<property name="def_laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="def_laser_rear_x" value="-0.325"/>
	<property name="def_laser_rear_y" value="0.0"/>
	<property name="def_laser_rear_z" value="0.135"/>
	<property name="def_laser_rear_roll" value="0"/>
	<property name="def_laser_rear_pitch" value="0"/>
	<property name="def_laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="def_laser_top_x" value="-0.252"/>
	<property name="def_laser_top_y" value="0.0"/>
	<property name="def_laser_top_z" value="0.42"/>
	<property name="def_laser_top_roll" value="0"/>
	<property name="def_laser_top_pitch" value="0"/>
	<property name="def_laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="def_tray_x" value="0.2406"/>
	<property name="def_tray_y" value="0.1900"/>
	<property name="def_tray_z" value="0.8020"/>
	<property name="def_tray_roll" value="2.3561"/>
	<property name="def_tray_pitch" value="0"/>
	<property name="def_tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="def_torso_x" value="0.15"/>
	<property name="def_torso_y" value="0.0"/>
	<property name="def_torso_z" value="0.85"/>
	<property name="def_torso_roll" value="1.57079633"/>
	<property name="def_torso_pitch" value="0"/>
	<property name="def_torso_yaw" value="0"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="def_arm_x" value="-0.018"/>
	<property name="def_arm_y" value="-0.1"/>
	<property name="def_arm_z" value="0.87"/>
	<property name="def_arm_roll" value="0.78539"/>
	<property name="def_arm_pitch" value="0.0"/>
	<property name="def_arm_yaw" value="-0.3"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<!-- not used right now
	<property name="def_torso_lower_neck_tilt_cal_offset" value="0.0"/>
	<property name="def_torso_pan_cal_offset" value="0.0"/>
	<property name="def_torso_upper_neck_tilt_cal_offset" value="0.0"/>
	-->

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<property name="def_torso_lower_neck_tilt_ref" value="0"/>
	<property name="def_torso_pan_ref" value="0"/>
	<property name="def_torso_upper_neck_tilt_ref" value="0"/>

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="def_tray_ref" value="-0.2"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="def_head_axis_ref" value="-0.1"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<!-- not needed for lbr, use nonius scala -->

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="def_cam_l_x" value="-0.025"/>
	<property name="def_cam_l_y" value="-0.002"/>
	<property name="def_cam_l_z" value="-0.056"/>
	<property name="def_cam_l_roll" value="0.84"/>
	<property name="def_cam_l_pitch" value="-1.57079633"/>
	<property name="def_cam_l_yaw" value="-0.86"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="def_cam_r_x" value="0.12"/>
	<property name="def_cam_r_y" value="0.0"/>
	<property name="def_cam_r_z" value="0.0"/>
	<property name="def_cam_r_roll" value="0.0"/>
	<property name="def_cam_r_pitch" value="0.012"/>
	<property name="def_cam_r_yaw" value="0.012"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="def_cam3d_x" value="-0.045"/>
	<property name="def_cam3d_y" value="-0.035"/>
	<property name="def_cam3d_z" value="0.023"/>
	<property name="def_cam3d_roll" value="-0.12"/>
	<property name="def_cam3d_pitch" value="-1.57079633"/>
	<property name="def_cam3d_yaw" value="0.10"/>
</robot>
